.img_wrapper {
    display: flex;
    width: 100%;
    /*justify-content: space-between;*/
}

img {
    width: 300px;
    border-radius: 10px;
}

.photo_shrinked {
    transition: width 1s;
    width: 100px;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}

.photo_expanded {
    transition: width 1s;
    width: 300px;
}